.filter {
    text-align: right;
    padding-right: 1%;
    padding-top: 1%;
    position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
}

.css-1wnsr1i {
    width: 30vw !important;
}

.css-1vqurqv {
    width: 50vw !important;
}

.buttons {
    padding-right: 10%;
}