.header-container {
  background-color: "#F9E4C8";
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  width: 100%;
  box-shadow: 0px 15px 10px -15px #111;
}

.a {
  background-color: white !important;
}

.pgs {
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  justify-content: space-evenly;
}

.logo-container {
  margin-left: 22px;
}

.logo h3 {
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root { 
  color:#111 !important;
}

.nav-options {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 60px;
}

.option {
  margin-left: 14px;
}

.option h4 {
  font-size: 18px;
}
